page-showFav{
    .content{
       background-image: url('../assets/image/fundo7.jpg');
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
    }
    .lista, .grid, .carimage, .item1, .item2, .item3, .item4{
    	background-color: transparent;
    	border-color: transparent;
        color: #f4f4f4;
    }
    .ano, .modelo, .placa, .preco{
        color: #FFC61A;
    }
    .favorito, .historico, .tabela{
    	background-color: transparent;
    }
    ion-card.card{
        box-shadow: none;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }
}