page-showCar{
 	.content{
        background-image: url('../assets/image/fundo7.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .lista, .grid, .carimage, .item1, .item2, .item3, .item4{
    	background-color: transparent;
    	border-color: transparent;
        color: #FFFF00;
    }
    .ano, .modelo, .placa, .preco{
        color: #FFFFFF;
    }
    .favorito, .historico, .tabela{
    	background-color: transparent;
    }
}
    