page-home {
    .bg-image{
        background-image: url('../assets/image/fundo7.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .scroll-content{
        align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
    }

    .item.item-input {
        background-color: transparent;
        width: 60%;
        margin-right:auto;
        margin-left:auto;
        text-transform: uppercase;
        font-weight: bold;
    }

    .button{
        width: 50%;
        margin-right:auto;
        margin-left:auto;
        background: rgba(0, 0, 0, 0.1);
    }

    .item {
        //margin-bottom: 10px;
		background: rgba(255, 255, 255, 0);
        border: medium none;

        .text-input, {
            color: #f4f4f4;
            text-transform: uppercase;
            text-align: center;
		}
        input::-moz-placeholder  {
            color: #CAC8C8!important;
            text-align: center;
		}
        input:-moz-placeholder {
            color: #CAC8C8!important;
            text-align: center;
		}
        *::-webkit-input-placeholder  {
            color: #CAC8C8!important;
            text-align: center;
		}

		*:-ms-input-placeholder  {
            color: #CAC8C8!important;
            text-align: center;
		}

		*:-moz-placeholder  {
            color: #CAC8C8!important;
            text-align: center;
		}
    }

}
