page-discounts{
    .price{
        padding-left: 50px;
    }
    
    .button{
        width: 50%;
        margin-right:auto;
        margin-left:auto;
        background: rgba(0, 0, 0, 0.1);
    }
}